.center-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-card {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow: hidden; // Evita que el contenido sobresalga del card

  .preview-image {
    height: 200px; // Altura estándar para pantallas grandes
    overflow: hidden; // Asegúrate de ocultar cualquier desbordamiento
    border-radius: 8px; // Redondeo de las esquinas de la imagen

    img {
      width: 100%; // Asegura que la imagen ocupe todo el ancho del contenedor
      height: auto; // Mantiene la proporción de la imagen
      object-fit: contain; // Ajusta la imagen para cubrir el contenedor sin distorsionarse
      align-items: center;
    }
  }
}

.product-card h2{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.product-card .description{
  font-size: 18px;
  color: #555555;
}

.product-card .price{
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin-top: 10px;
}

.product-card .category{
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

.product-card .heart-icon{
  font-size: 24px;
  color: #ff4081;
  cursor: pointer;
  margin-top: 10px;
}

.review-list{
  margin-top: 30px;
}

.review-card{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
}

.review-card .review-image img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.review-card h2{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.review-card .details-row{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.review-card .rating,
.review-card .username{
  font-size: 16px;
  color: #555555;
}

.faq-list{
  margin-top: 30px;
}

.faq-card{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.faq-card .details-row{
  display: flex;
  justify-content: space-between;
}

.faq-card .question,
.faq-card .answer{
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.section-heading{
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  color: #333333;
  text-align: center;
}

.small-image{
  max-width: 80px;
  max-height: 60px;
}

.faq-card{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.faq-card .faq-details{
  font-size: 16px;
  color: #333;
}

.faq-card .question{
  font-weight: bold;
  margin-bottom: 5px;
}

.faq-card .question-text,
.faq-card .answer-text{
  margin-left: 20px;
}
// Estilos Responsivos
@media (max-width: 768px) {
  .product-card {
    padding: 15px; // Menos padding en pantallas pequeñas

    .preview-image {
      height: 150px; // Altura ajustada para pantallas pequeñas
    }
  }
}
