<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Comerce</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active">Track Order</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>

  </mat-toolbar>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Comerce</span>
    <span class="spacer"></span>

    <!-- Botón del menú hamburguesa, visible solo en pantallas pequeñas -->
    <button mat-icon-button [matMenuTriggerFor]="adminMenu" class="menu-button" *ngIf="isSmallScreen()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Menú desplegable -->
    <mat-menu #adminMenu="matMenu">
      <ng-container *ngFor="let item of adminMenuItems">
        <button mat-menu-item *ngIf="item.link; else actionTemplate" [routerLink]="item.link" routerLinkActive="active">
          {{ item.label }}
        </button>
        <ng-template #actionTemplate>
          <button mat-menu-item (click)="item.action()">{{ item.label }}</button>
        </ng-template>
      </ng-container>
    </mat-menu>

    <!-- Menú de escritorio visible solo en pantallas grandes -->
    <div class="desktop-menu" *ngIf="!isSmallScreen()">
      <ng-container *ngFor="let item of adminMenuItems">
        <button mat-button [routerLink]="item.link" routerLinkActive="active">{{ item.label }}</button>
      </ng-container>
      <button mat-button routerLinkActive="active" (click)="logOut()">Logout</button>
    </div>
  </mat-toolbar>
</div>

<div *ngIf="isCustomerLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">E-Comerce</span>
    <span class="spacer"></span>

    <!-- Botón del menú hamburguesa, visible solo en pantallas pequeñas -->
    <button mat-icon-button [matMenuTriggerFor]="customerMenu" class="menu-button" *ngIf="isSmallScreenC()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Menú desplegable -->
    <mat-menu #customerMenu="matMenu">
      <ng-container *ngFor="let item of customerMenuItems">
        <button mat-menu-item *ngIf="item.link; else actionTemplate" [routerLink]="item.link" routerLinkActive="active">
          {{ item.label }}
        </button>
        <ng-template #actionTemplate>
          <button mat-menu-item (click)="item.action()">{{ item.label }}</button>
        </ng-template>
      </ng-container>
    </mat-menu>

    <!-- Menú de escritorio visible solo en pantallas grandes -->
    <div class="desktop-menu" *ngIf="!isSmallScreenC()">
      <ng-container *ngFor="let item of customerMenuItems">
        <button mat-button [routerLink]="item.link" routerLinkActive="active">{{ item.label }}</button>
      </ng-container>
      <button mat-button routerLinkActive="active" (click)="logOut()">Logout</button>
    </div>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
