.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;

  .navbar-brand {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
  }

  .spacer {
    flex: 1;
  }

  .menu-buttons {
    display: flex;
    gap: 8px;

    button {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  /* Estilos responsivos */
  @media (max-width: 768px) {
    .menu-buttons {
      display: none; /* Ocultar botones en pantallas pequeñas */
    }

    .menu-button {
      display: block; /* Mostrar ícono hamburguesa */
    }
  }
}
